@import ../../sass/mixin

component
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  overflow: hidden scroll
  --inner-width: 75%
  @include mobile
    --inner-width: 96%

  > section.content
    margin: 0 auto
    display: flex
    flex-direction: column
    flex: 1 0 0
    width: var(--inner-width)