component
  flex: 0 0 6em
  width: 100%
  display: flex
  bottom: 0
  position: sticky
  background: linear-gradient(to top, #0A0A0A 0%, #0D0D0D 100%)
  box-shadow: 0 -2em 2em 0 rgba(black, 0.4), 0 -0.125em 0.125em 0 rgba(black, 0.2)

  > section
    margin: 0 auto
    display: flex
    width: var(--inner-width)