@import ../../sass/mixin
@import common

component
  margin: 2em 0
  width: var(--inner-width)
  display: grid
  grid-template-columns: repeat(2, max-content) minmax(0, 1fr) repeat(2, max-content)
  align-items: center
  row-gap: 1em
  column-gap: 1em