@import ./icons
@import ../sass/mixin

html, body
  font-family: Verdana
  font-size: 11px
  color: gray
  background-color: rgb(18, 18, 18)

a
  color: inherit

component
  display: flex
  flex-direction: column

  div.loading
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    letter-spacing: 0.25em
    position: fixed

  div.failure
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    position: fixed
    display: flex
    flex-direction: column

    > button
      appearance: none
      color: white
      border: none
      border-radius: 0.5em
      background: black
      padding: 0.5em

  h1
    text-align: center
    color: white

  div.tracks
    margin: 4em auto
    width: auto
    max-width: max-content
    display: grid
    grid-template-columns: repeat(2, max-content) minmax(auto, 40vw) repeat(3, max-content)
    align-items: center
    row-gap: 1em
    column-gap: 1em

    span
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    > div.track
      display: contents

      &.active
        > button.play
          @include play

          &:after
            display: none

      &.buffering > button.play
        @include buffering

      &.playing > button.play
        @include pause

      &:not(.active)
        > button.play:hover
          @include play

          &:after
            display: none

      > button.play
        width: 2em
        aspect-ratio: 1 / 1
        cursor: pointer
        position: relative
        color: inherit
        border: none
        background: none
        background-repeat: no-repeat
        background-position: center

        &:after
          text-align: center
          content: attr(data-index)
          top: 50%
          left: 50%
          color: #333
          transform: translate(-50%, -50%)
          position: absolute

      > img
        width: 3em
        aspect-ratio: 1 / 1
        border-radius: 0.25em
        object-fit: contain
        background-color: #222

      > .names
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 2em 0 0

        > .collaborators
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

          > a
            width: max-content
            text-decoration: none

            &:not(:last-child):after
              content: ", "

      > .genre
        width: 100%
        height: 50%
        display: flex
        align-items: center
        justify-content: center
        border-radius: 2em
        padding: 0.25em
        color: black
        background-color: #303030
        text-decoration: none

      > .date
        text-align: right